# Konfigurasi Domain
# Ubah nilai di bawah ini dengan domain yang Anda inginkan
DOMAIN=example.com
FORGEJO_DOMAIN=git.example.com
HELLO_DOMAIN=hello.example.com

# Konfigurasi Domain Privat (Tailscale)
# Grafana diakses via VPN Tailscale. Isi dengan MagicDNS Tailscale Anda.
# Contoh: grafana.tailnet-name.ts.net
GRAFANA_DOMAIN=grafana.example.com
