# Konfigurasi Domain
# Ubah nilai di bawah ini dengan domain yang Anda inginkan
DOMAIN=example.com
GRAFANA_DOMAIN=grafana.example.com
FORGEJO_DOMAIN=git.example.com
HELLO_DOMAIN=hello.example.com
PROMETHEUS_DOMAIN=prometheus.example.com
MONITOR_DOMAIN=monitor.example.com
