# Kredensial Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=ganti_password_anda

# Forgejo Secrets (untuk envFrom di deployment forgejo)
# Isi jika ada variabel env tambahan yang rahasia untuk forgejo

# Runner Secret
RUNNER_TOKEN=isi_dengan_token_runner_forgejo_anda
